<header>
    <nav class="nav-top-bar">

        <div class="title">
            <a href="/">
                <h1 class="hide-for-small-only">bustabit</h1>
                <h1 class="show-for-small-only">BaB</h1>
            </a>
        </div>

        <div class="show-for-small-up user-login">
        {{?it.user}}
            <div class="balance-bits">
                <span>Bits: </span>
                <span class="balance" id="balance_bits">{{#def.format:{n: it.user.balance_satoshis, decimals:2} }}</span>
            </div>
            <div class="username">
                <a href="/account">{{=it.user.username}}</a>
            </div>
        {{??}}
            <div class="register">
                <a href="/register">Register</a>
            </div>
            <div class="login">
                <a href="/login">Log in</a>
            </div>
        {{?}}
        </div>

    </nav>
</header>