{{##def.page_title = 'Deposit History' #}}
{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
    <div class="content row panel radius">
        <div class="settings">
            <div class="small-2 columns">
                <ul class="menu">
                    <li>
                        <a href="/account">Account</a>
                    </li>
                    <li>
                        <a href="/security">Security</a>
                    </li>
                    <li class="active">
                        Deposit
                    </li>
                    <li>
                        <a href="/withdraw">Withdraw</a>
                    </li>

                    <li>
                        <a href="support">Support</a>
                    </li>
                    <li>
                        <a onclick="logout();">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <div class="small-10 columns setts-content">
                <h5 class="">Deposit History</h5>
                <hr>
                <p class="account">
                    <b>Deposit Address:</b>
                    <input type="text" value="{{=it.user.deposit_address}}" readonly>
                    <a href="bitcoin:{{=it.user.deposit_address}}?message=deposit">Bitcoin link</a>
                </p>
                {{?it.user.deposits.length > 0}}
                    <table>
                        <thead>
                            <tr>
                                <td>Bits</td>
                                <td>Transaction</td>
                                <td class="show-for-medium-up">Created</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{~it.user.deposits :deposit:index}}
                                <tr>
                                    <td>{{#def.format: {n: deposit.amount, decimals: 2 } }}</td>
                                    <td><a href="https://blockchain.info/tx/{{=deposit.txid}}" target="_blank">link</a></td>
                                    <td class="show-for-medium-up">{{=deposit.created}}</td>
                                </tr>
                            {{~}}
                        </tbody>
                    </table>
                {{??}}
                    <p>You don't have deposits</p>
                {{?}}

            </div>
        </div>
    </div>
#}}
{{#def.include('./template/main_old')}}