{{##def.page_title = 'The Social Bitcoin Gambling Game' #}}

{{##def.content:
    <div class="index">

        <div class="grid">
            <div class="col-1-1">
                <h1 class="title">The Social Gambling Game</h1>
            </div>

            <div class="play-btn-col col-1-1">
                <div class="play-btn-cont">
                    <a href="/play" class="play">
                        Play Now!
                    </a>
                    <a href="/play-old" class="play-old">
                        Play with the old theme!
                    </a>
                </div>
            </div>
        </div>

        <div class="features grid">

            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/dart.png" alt=""/>
                </div>
                <h4>99% Luck<br />&nbsp;1% Skill</h4>
                <p class="text">
                    Play for fun! Or play to win! <br>
                    <a href="/guide">See strategy guide</a>
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/chart.png" alt=""/>
                </div>
                <h4>Real Time</h4>
                <p class="text">
                    Watch your fortune rise<br > in real time!
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/secure.png" alt=""/>
                </div>
                <h4>Secure</h4>
                <p class="text">
                    Offline storage<br>
                    <a href="faq#fair">Provably fair</a><br>
                    Razor thin <a href="faq#odds">house edge</a> (between 0 and 1%)
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/multiplayer.png" alt=""/>
                </div>
                <h4>Social</h4>
                <p class="text">
                    Play with friends<br />
                    and beat your foes
                </p>
            </div>

        </div>

        <div class="grid">
            <div class="col-1-1">
                <h5 class="faucet">Claim 2 free bits an hour, so you can always play for fun and without commitment!</h5>
            </div>
        </div>

    </div>
#}}
{{#def.include('./template/main_new')}}

