{{##def.page_title = 'Register' #}}

{{##def.content:
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
		var submitEnabled = false;
		function enableSubmit() {
			submitEnabled = true;
      var s = document.getElementById('registerSubmit');
      s.style.display = 'block';
    }

    window.onload = function () {
        if (document.getElementById('confirmation') !== null) {
            document.getElementById('confirmation').onchange = validatePassword;
            document.getElementById('password').onchange = validatePassword;
        }
    };
    function validatePassword() {
        var password = document.getElementById('password').value;
        var confirm = document.getElementById('confirmation').value;
        if (password != confirm) {
            document.getElementById('confirmation').setCustomValidity("Confirmation and password should be the same");
        } else document.getElementById("confirmation").setCustomValidity('');
    }
</script>
        <div class="register">
            <form action="/register" method="post" onsubmit="return submitEnabled;">
                <div class="row">
                    <div class="large-7 columns input">
                        <h5>Create a new account <small><a href="login">already have one?</a></small></h5>
                        <hr>
                    </div>

                    <div class="large-7 columns input">

                        <div class="row">
                            <div class="large-3 columns">
                                <label for="username">Username</label>
                            </div>
                            <div class="large-9 columns">
                                <input id="username" type="text" name="user[name]" value="{{?it.values}}{{!it.values.name}}{{?}}" autocomplete="off" pattern="[A-Za-z0-9_\-]{3,16}" title="Username only allowed alphanumeric, hyphen and underscore" required />
                            </div>
                        </div>
                    </div>
                    <div class="large-7 columns input">

                        <div class="row">
                            <div class="large-3 columns">
                                <label for="email">*Recovery Email</label>
                            </div>
                            <div class="large-9 columns">
                                <input type="email" id="email" value="{{?it.values}}{{!it.values.email}}{{?}}" placeholder="you@email.com" name="user[email]" autocomplete="off"/>
                                <small><b>* Optional</b> although we <b>strongly advise you to use one</b>, otherwise it is <b>not possible</b> to password reset!</small>
                            </div>
                        </div>
                    </div>
                    <div class="large-7 columns input">
                        <div class="row">
                            <div class="large-3 columns">
                                <label>Password</label>
                            </div>
                            <div class="large-9 columns">
                                <input id="password" type="password" value="{{?it.values}}{{!it.values.password}}{{?}}" name="user[password]" autocomplete="off" pattern=".{7,200}" title="Password should be at least 7 characters" required/>
                                <small>Pick something secure, at least 7 characters</small>
                            </div>
                        </div>
                    </div>
                    <div class="large-7 columns input">
                        <div class="row">
                            <div class="large-3 columns">
                                <label>Confirm Password</label>
                            </div>
                            <div class="large-9 columns">
                                <input id="confirmation" type="password" value="{{?it.values}}{{!it.values.confirm}}{{?}}" name="user[confirm]" autocomplete="off" pattern=".{7,200}" data-equal-id="password" required/>
                            </div>
                        </div>
                    </div>
                    <div class="large-7 columns">
                        <div class="g-recaptcha" data-sitekey="{{=it.recaptchaKey}}" data-callback="enableSubmit"></div>
                        <input id="registerSubmit" style="display: none" class="border-button blue" type="submit" value="Register"/>
                    </div>
                </div>
            </form>
        </div>
#}}
{{#def.include('./template/main_old')}}