{{##def.page_title = 'Reset Password' #}}

{{##def.content:
<script type="text/javascript">
    window.onload = function () {
        if (document.getElementById('confirmation') !== null) {
            document.getElementById('confirmation').onchange = validatePassword;
            document.getElementById('password').onchange = validatePassword;
        }
    };
    function validatePassword() {
        var password = document.getElementById('password').value;
        var confirm = document.getElementById('confirmation').value;
        console.log(password, confirm);
        if (password != confirm) {
            console.log('not equals');
            document.getElementById('confirmation').setCustomValidity("Confirmation and password should be the same");
        } else document.getElementById("confirmation").setCustomValidity('');
    }
</script>
<div class="login">
    <form action="/sent-reset" method="post">
        <div class="row">
            <div class="large-12 columns">
                <label for="password">Password reset <b>{{=it.user.username}}</b> <span class="small">at least 7 characters</span></label>
                <input type="password" autocomplete="off" pattern=".{7,200}" id="password" name="password" required/>
                <label for="confirmation">Confirmation</label>
                <input type="password" autocomplete="off" pattern=".{7,200}" id="confirmation" name="confirmation" required/>
                {{?it.user.mfa_secret}}
                    <label for="otp">2FA code</label>
                    <input type="text" autocomplete="off" pattern="[0-9]{6}" id="otp" name="otp" required />
                {{?}}
                <input name="recover_id" type="hidden" value="{{!it.recoverId}}"/>
                <input class="border-button right green" type="submit" value="Reset Password"/>
            </div>
        </div>
    </form>
</div>

#}}
{{#def.include('./template/main_old')}}